* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  height: 100%;
}

.blue {
  color: #5e95f4;
}
.gray {
  color: #858585;
}

.text-12 {
  font-size: 12px;
}
.text-14 {
  font-size: 14px;
}
.text-30 {
  font-size: 30px;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  content: " ";
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
}
